<section class="section section-1">
  <div class="description-box">
    <div class="w-50 mw-100">
      <h1>
        Seja um doador e ajude a transformar vidas!
      </h1>
      <p>
        A Associação Aprender Para a Vida está comprometida em apoiar pessoas em situação de vulnerabilidade
        psicossocial.
      </p>
      <p>
        Muitos enfrentam desafios emocionais, isolamento e dificuldades diárias.
      </p>
      <p>
        Com sua doação, podemos oferecer:
      </p>
      <p>
        - Aconselhamento psicológico, emocional e jurídico <br>
        - Grupos de apoio e terapias. <br>
        - Acesso a recursos básicos, como alimentação e higiene
      </p>
    </div>
    <div class="w-50 mw-100">
      <h2>Você pode contribuir com:</h2>
      <p>
        - Alimentos não perecíveis <br>
        - Itens de higiene pessoal. <br>
        - Roupas e calçados
      </p>
      <p>
        <b>Localização:</b>
      </p>
      <p>
        R. Francisco Garcia, 445 - Parque Sao Miguel, Hortolândia - SP, 13186-625
      </p>
      <p>
        Horário de atendimento: Segunda a sexta-feira, das 8h às 18h
      </p>
      <p>
        Gratidão por ser parte dessa rede solidária! Sua contribuição faz a diferença. Junte-se a nós nessa jornada de
        esperança e transformação!
      </p>
    </div>
  </div>

  <div class="book-sale-container">
    <h3>
      Ao comprar este livro você estará contribuindo para a Associação Aprender Para a Vida, pois um terço do valor de cada exemplar vendido será doado para a associação.
    </h3>
    <div class="book-sale">
      <img src="/images/CAPANOVO.jpg" alt="">
      <img src="/images/CONTRACAPANOVO.jpg" alt="">
    </div>
    <div class="sale-btn-box">
      <a href="https://produto.mercadolivre.com.br/MLB-4682692292-livro-_JM" target="_blank">Clique aqui e adquira o seu exemplar</a>
    </div>
  </div>
</section>
