<div class="section section-1">
  <h1>Seja um voluntário</h1>

  <div class="description-container">
    <div>
      <p>
        Caso queira ser um voluntário, preencha as seguinte informações:
      </p>

      <ul>
        <li>
          Nome completo
        </li>
        <li>
          Telefone para contato
        </li>
        <li>
          Endereço
        </li>
        <li>
          Área (psicologia, direito, assistência social, acolhimento, administração)
        </li>
        <li>
          Disponibilidade
        </li>
      </ul>

      <p>
        Entraremos em contato o mais rápido possível.
      </p>

      <div class="img-box">
        <img src="/images/imagem-06.png" class="w-40 mw-80" alt="">
      </div>
    </div>

    <form action="">
      <div class="inputs-box">
        <div class="input">
          <label for="name">Nome completo:</label>
          <input type="text" id="name" placeholder="John Due">
        </div>

        <div class="input">
          <label for="phone-number">Telefone:</label>
          <input type="text" id="phone-number" placeholder="(19) 99999-9999">
        </div>
      </div>

      <div class="inputs-box">
        <div class="input">
          <label for="email">Email:</label>
          <input type="text" id="email" placeholder="johndue@gmail.com">
        </div>
        <div class="input">
          <label for="address">Endereço:</label>
          <input type="text" id="address" placeholder="Rua  João, 123. Jd Terras">
        </div>
      </div>

      <div class="inputs-box">
        <div class="input">
          <label for="area">Área de interesse:</label>
          <select id="area" name="area">
            <option value="psicologia">Psicologia</option>
            <option value="direito">Direito</option>
            <option value="assistencia-social">Assistência Social</option>
            <option value="acolhimento">Acolhimento</option>
            <option value="administracao">Administração</option>
          </select>
        </div>

        <div class="input">
          <label for="availability">Disponibilidade:</label>
          <input type="text" id="availability" name="availability" placeholder="Rua  João, 123. Jd Terras">
        </div>
      </div>

      <div class="input">
        <label for="availability">Comentários:</label>
        <textarea type="textarea" id="availability" name="availability"></textarea>
      </div>

      <div class="btn-box">
        <button>Enviar</button>
      </div>
    </form>
  </div>

</div>
